html {
    background-color: var(--payne-darkest)
}

html,body {
    width: 100%;
    height:100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Rubik';
}

#connectArrow {
    font-size: 5em;
    background-color: var(--ufo);
    padding: .25em;
} 

img {
    width: 7.5em;
    margin-left: 1.5em;
}

#block {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Rubik';
}

#text {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: right;
    color: white;
    font-family: 'Rubik';
    flex-direction: column;
    margin-left: 2em;
    height: 7.5em
}

#redirectedToContainer {
    margin-top: 0
}

.button {
    padding: 5px;
    background-color: rgba(235,232,225, .18);  
    transition-duration: 85ms;
    margin-left: 5px;
}

.button::before {
    transition-duration: 85ms;
}

.button:hover {
    background-color: rgba(235,232,225, .42);  
}

.button:active {
    background-color: rgba(235,232,225, 1);
}

.button:active::before {
    color: var(--payne-darkest)
}

@media only screen and (max-device-width: 480px) {
    html,body {
        flex-direction: column
    }

    #text {
        margin-left: 0;
        margin-top: 1.5em;
    }
}

input[type=text] {
    width: 15em;
    padding: .579em;
    margin-top: .55em;
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    background-color: black;
    color: white;
    font-family: "Rubik";
    font-size: .9em;
    border-bottom: .06em solid white;
}

#urlEntry {
    margin-top: 0;
}